/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100%;
  background: rgb(122, 135, 160);

  text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  color: #e4e4e4;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: 
    ". header header header ."
    ". content content content ."
    ". footer footer footer .";

  height: 100%;
}

#page-header {
  margin: 0.8em 0 0 0;
  grid-area: header;
  background-color: #f2f2f2;
  height: 2.8em;
  display: inline;
}

#page-content {
  grid-area: content;
}

#page-footer {
  grid-area: footer;
  display: inline;
}

a.logo {
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 0 1px 0 white;
  color: #373e47;
  padding-left: 10px;
}

.pink {
  color: #a45f93;
}

.gray {
  color: #8b95a4;
  font-size: 18px;
}

ul.menu {
  display: inline-block;
  list-style-type: none;
}

ul.menu > li {
  float: left;
}